html {
    background-color: rgb(255, 210, 229);
}
.heading-style {
    border-style:dotted;
    border-color: black;
    color: rgb(212, 0, 88);
}
.global {
    background-color: rgb(255, 238, 246)
    
}
.local {
    background-color: rgb(168, 109, 127);
}